{% extends 'master.html' %}
{% load static %}
{% block title %}
Cart Details
{% endblock %}


{#{% block content %}#}
{#{% if cart_count %}#}
{#<div class="container col-sm-8 offset-2 mt-5">#}
{#<form method="POST"></form>#}
{#<table class="container" style="margin-top: 60px">#}
{#<p class="text-center text-capitalize" style="margin-top: 100px">cart count: {{ cart_count }}</p>#}
{#    <thead>#}
{#    <th class="text">Product</th>#}
{#    <th class="text">Quantity</th>#}
{#    <th class="text">Price</th>#}
{#    </thead>#}
{#            {% for item in cart.cartitem_set.all %}#}
{##}
{#    <tr>#}
{#        <td class="text">{{ item.product.name }}</td>#}
{#        <td>#}
{#          <a href="{% url 'carts:cart_plus' product_id=item.product.id %}"><i class="fas fa-plus-circle text-dark"></i></a>#}
{#                        {{ item.quantity }}#}
{#            &nbsp;<a href="{% url 'carts:cart_minus' product_id=item.product.id %}"><i class="fas fa-minus-circle text-dark"></i></a>#}
{#        </td>#}
{#        <td class="text">{{ item.total_item_price }}</td>#}
{#        <td>#}
{#            <a href="{% url 'carts:update' product_id=item.product.id %}?qty=0">Delete</a>#}
{#            <a href="{% url 'carts:delete' id=item.id %}"><i class="fa fa-trash text-danger" aria-hidden="true"></i></a>#}
{##}
{#        </td>#}
{#    </tr>#}
{#            {% endfor %}#}
{#    <tr>#}
{#        <td>{{ cart.shipping_method.title }}</td>#}
{#        <td></td>#}
{#        <td>{{ cart.shipping_method.cost }}</td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td>#}
{#            <form method="POST" action="{% url 'carts:ship_cost' %}">#}
{#            <div class="form-group form-inline">#}
{#                <label for="drop">Shipping Method: </label>#}
{#                    {% csrf_token %}#}
{#                            <select name="method" id="drop" class="form-control ml-2" style="width: 200px">#}
{#                                {% for shipping in ship_obj %}#}
{#                                    <option value="{{ shipping.id }}">{{ shipping.title }}</option>#}
{#                                {% endfor %}#}
{#                            </select>#}
{##}
{#                <input type="submit" value="Submit">#}
{##}
{#                    <button type="submit" class="btn rounded-circle ml-1 bg-transparent"><i class="fas fa-sync"></i></button>#}
{#            </div>#}
{#            </form>#}
{##}
{#        </td> <td></td>#}
{#        <td class="form-text">{{ cart.shipping_method.cost }}</td>#}
{#    </tr>#}
{##}
{#<hr>#}
{#<tfoot>#}
{#</tfoot>#}
{#</table>#}
{#</div>#}
{#<hr>#}
{#    <div class="float-right">#}
{#        <h1>Total: {{ cart.total|floatformat:2 }} + {{ cart.shipping_method.cost }}({{ cart.shipping_method.title }})</h1>#}
{#        <a type="submit" class="btn btn-success text-center" href="{% url 'order:checkout' %}">Checkout</a>#}
{#    </div>#}
{##}
{#{% else %}#}
{#    <div class="container" style="margin-top: 25%">#}
{#        <div class="row justify-content-center align-items-center">#}
{#            <form class="col-12">#}
{#              <div class="form-group">#}
{#                  <h1 class="text text-center text-justify">Buy Some Products</h1>#}
{#                  <a class="btn btn-link btn-block text-center text-justify btn" href="{% url 'products:list' %}"> Click heare to visit Shop</a>#}
{#              </div>#}
{#            </form>#}
{#        </div>#}
{#    </div>#}
{#        {% endif %}#}
{##}
{#{% endblock %}#}


{#/////////////////// Template#}


{% block content %}
{% if cart_count %}
<div class="card" style="padding-top: 70px">
  <div class="card-body">

    <!-- Shopping Cart table -->
    <div class="table-responsive">

      <table class="table product-table">

        <!-- Table head -->
        <thead class="mdb-color lighten-5">
          <tr>
            <th></th>
            <th class="font-weight-bold">
              <strong>Product</strong>
            </th>
            <th></th>
            <th class="font-weight-bold">
              <strong>Price</strong>
            </th>
              <th></th>
            <th class="font-weight-bold">
              <strong>QTY</strong>
            </th>
            <th class="font-weight-bold">
              <strong>Amount</strong>
            </th>
            <th></th>
          </tr>
        </thead>
        <!-- /.Table head -->

        <!-- Table body -->
        <tbody>
        {% for item in cart.cartitem_set.all %}
          <!-- First row -->
          <tr>
            <th scope="row">
              <img src="{{ item.product.preview.url }}" width="280px" height="60px" alt="" class="img-fluid z-depth-0">
            </th>
            <td>
              <h5 class="mt-3">
                <strong>{{ item.product.name }}</strong>
              </h5>
              <p class="text-muted">{{ item.product.name }}</p>
            </td>
            <td></td>
            <td>{{ item.product.price }}</td>
              <td></td>
{#            <td>#}
{#              <input type="number" value="2" aria-label="Search" class="form-control" style="width: 100px">#}
{#            </td>#}
            <td>
                <a href="{% url 'carts:cart_plus' product_id=item.product.id %}"><i class="fas fa-plus-circle text-dark"></i></a>
                        {{ item.quantity }}
            &nbsp;   <a href="{% url 'carts:cart_minus' product_id=item.product.id %}"><i class="fas fa-minus-circle text-dark"></i></a>
            </td>
            <td class="font-weight-bold">
              <strong>{{ item.total_item_price }}$</strong>
            </td>
            <td>
              <button type="button" onclick="location.href='{% url 'carts:delete' id=item.id %}'" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top"
                title="Remove item">X
              </button>
            </td>
          </tr>
                    {% endfor %}

          <!-- /.First row -->
{#shipping start#}
    <tr>
        <td>{{ cart.shipping_method.title }}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="font-weight-bold"><strong>{{ cart.shipping_method.cost }}</strong></td>
        <td></td>
    </tr>
    <tr>
        <td>
            <form method="POST" action="{% url 'carts:ship_cost' %}">
            <div class="form-group form-inline">
                <label for="drop">Shipping Method: </label>
                    {% csrf_token %}
                            <select name="method" id="drop" class="form-control ml-2" style="width: 200px">
                                {% for shipping in ship_obj %}
                                    <option value="{{ shipping.id }}">{{ shipping.title }}</option>
                                {% endfor %}
                            </select>

{#                <input type="submit" value="Submit">#}
                <button type="submit" class="btn btn-sm border ml-1 bg-transparent"><i class="fas fa-sync"></i></button>
            </div>
            </form>

        </td>
        <td></td>
    <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="font-weight-bold"><strong>{{ cart.shipping_method.cost }}</strong></td>
        <td></td>
{#    </tr>#}
{# shipping end #}
          <!-- Fourth row -->
          <tr>
            <td colspan="3"></td>
            <td>
              <h4 class="mt-2">
                <strong>Total</strong>
              </h4>
            </td>
            <td class="text-right">
              <h4 class="mt-2">
                <strong>${{ cart.total|floatformat:2 }} + {{ cart.shipping_method.cost }}({{ cart.shipping_method.title }})</strong>
              </h4>
            </td>
            <td colspan="3" class="text-right">
              <button type="button" onclick="location.href='{% url 'order:checkout' %}'" class="btn btn-primary btn-rounded">Complete purchase
                <i class="fas fa-angle-right right"></i>
              </button>
            </td>
          </tr>
          <!-- Fourth row -->

        </tbody>
        <!-- /.Table body -->

      </table>

    </div>
    <!-- /.Shopping Cart table -->

  </div>

</div>


{% else %}
    <div class="container" style="margin-top: 25%">
        <div class="row justify-content-center align-items-center">
            <form class="col-12">
              <div class="form-group">
                  <h1 class="text text-center text-justify">Buy Some Products</h1>
                  <a class="btn btn-link btn-block text-center text-justify btn" href="{% url 'products:list' %}"> Click heare to visit Shop</a>
              </div>
            </form>
        </div>
    </div>
        {% endif %}

{% endblock %}
