{% extends 'master.html' %}
{% load static %}
{% block title %}
Checkout|Home
{% endblock %}

{% block content %}

    <h1 style="margin-top: 6%" class="text-center font-weight-bold">Checkout</h1>
    {% if not order_obj.shipping_address %}
        <h1 class="ml-3">Shipping Address</h1>
        <form class="form" method="POST" action="{% url 'address:create' %}" novalidate>
            {% csrf_token %}


            {% if address_qs %}
            {% for address in address_qs %}
                <div class="mb-1">
                <label class="form-check-label ml-5" for="{{ address.id }}" onclick="hide()">
                    <input type="radio" id="{{ address.id }}" name="shipping_address" value="{{ address.id }}">
                    {{ address.get_full_address }}
                </label><br>
                </div>
            {% endfor %}
            {% endif %}
            <label for="form-visi" class="form-check-label ml-2" onclick="show()">
                <input id="form-visi" type="radio" name="shipping">Enter new address!
            </label><br>


            <div id="form" style="display: none" class="row">
                <div class="col-md-6 mb-1 p-4">
                    {{ address_form.as_p }}
                </div>
            </div>

            <div class="container">
                <button type="submit" class="btn btn-secondary">Submit</button>
            </div>

        </form>






    {% else %}
        <div class="card">
            <div class="center card card-body">
            <p>Order Total: {{ order_obj.total }}</p>
            <p>Shipping Total: {{ order_obj.cart.shipping_method.cost }} {{ order_obj.cart.shipping_method.title }}</p>
            <p>Address: {{ order_obj.shipping_address.get_full_address }}</p>
            <p class="font-weight-bold"><u>Items</u>
                {% for item in order_obj.cart.cartitem_set.all %}
                <ul>
                    <li>{{ item }}</li>
                </ul>
                {% endfor %}

            </p>
            <button class="btn btn-success" type="submit" onclick='window.location="{% url 'order:checkout_done' %}"'>Checkout</button>
        </div>
        </div>

    {% endif %}








    <style>
    .center{
        {#width: 60vw;#}
        {#height: 40vh;#}
        {#display: inline-flex;#}
        align-items: center;
        justify-content: space-between;
    }
    </style>
    <script type="text/javascript">
        function show() {
            document.getElementById('form').style.display = 'block'
        }
        function hide() {
            document.getElementById('form').style.display = 'none'
            document.getElementById('form-visi').checked = false
        }
    </script>
{% endblock %}
