{% extends 'master.html' %}
{% block title %}
Thank You!
{% endblock %}


{% block content %}

    <div class="container" style="margin-top: 25%">
        <div class="row justify-content-center align-items-center">
            <form class="col-12">
              <div class="form-group">
                  <h1 class="text text-center text-justify">Thanks for Shopping!</h1>
                  <a class="btn btn-link btn-block text-center text-justify btn" href="{% url 'products:list' %}"> Click heare to buy again</a>
              </div>
            </form>
        </div>
    </div>


{% endblock %}
