@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

 h1{
    font-family: 'Slabo 27px', serif;
 }

 html *
{
    font-family: 'Slabo 30px', serif;
    /*color: #fff;*/
}
 html body{
     color: #1d2124;
 }
html body nav *{
    color: #fff;
}
.half-black {
    background-color: rgba(0,0,0,0.5);
}