{% extends 'master.html' %}
{% block title %}
Sign in
{% endblock %}

{% block content %}
<div class="card" style="padding-top: 60px">
    <h5 class="card-header info-color white-text text-center py-4">
        <strong>Sign in</strong>
    </h5>
    <div class="card-body px-lg-5 pt-0">
        <form method="post" class="text-center" style="color: #757575;">
        {% csrf_token %}
        {% for field in form %}
        <div class="md-form">
            <label>{{ field.label }}</label>
            {{ field }}
        </div>
        {% endfor %}
    <input type="hidden" name="next" value="{{ request.path }}">
    <button type="submit" class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0">Signin</button>

    </form>
    </div>

</div>
{% endblock %}
