{% extends 'master.html' %}
{% load static %}
{% block title %}
Signup
{% endblock %}


{#{% block content %}#}
{#<div class="jumbotron">#}
{#    <form method="post">#}
{#        <h1 class="text text-center text-uppercase mb-3">Signup Form</h1>#}
{#        {% csrf_token %}#}
{#        {% for field in form %}#}
{#        <div class="form-group">#}
{#            <label>{{ field.label }}</label>#}
{#            {{ field }}#}
{#        </div>#}
{#        {% endfor %}#}
{#    <button type="submit" class="btn btn-success mt-2">Signup</button>#}
{#        #}
{#    </form>#}
{#</div>#}
{#{% endblock %}#}
{% block content %}
<div class="card" style="padding-top: 60px">
    <h5 class="card-header info-color white-text text-center py-4">
        <strong>Sign up</strong>
    </h5>
    <div class="card-body px-lg-5 pt-0">
       <form method="post" class="text-center" style="color: #757575;">
        {% csrf_token %}
        {% for field in form %}
        <div class="md-form mt-0">
            <label>{{ field.label }}</label>
            {{ field }}
        </div>
        {% endfor %}
    <button type="submit" class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0">Signup</button>

    </form>
    </div>

</div>
<style>
    #id_profile_pic {
    padding-top: 44px;
}
</style>
{% endblock %}
