<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}
  
  {% endblock %}</title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="{% static 'css/style.min.css' %}" rel="stylesheet">
  <style type="text/css">
    html,
    body,
    header,
    .carousel {
      height: 60vh;
    }

    @media (max-width: 740px) {

      html,
      body,
      header,
      .carousel {
        height: 100vh;
      }
    }

    @media (min-width: 800px) and (max-width: 850px) {

      html,
      body,
      header,
      .carousel {
        height: 100vh;
      }
    }

  </style>
</head>

<body>

  <!-- Navbar -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand waves-effect" href="#">
        <strong class="blue-text">KartBox</strong>
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link waves-effect" href="{% url 'home' %}">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'products:list' %}">Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="#">About</a>
          </li>
        </ul>

        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'carts:details' %}">
              <i class="fas fa-shopping-cart"></i>
              <span class="badge red z-depth-1 mr-1">
                   {% if cart_count %}
                    {{ cart_count }}
                        {% else %}
                        0
                {% endif %}
              </span>
{#              <span class="clearfix d-none d-sm-inline-block"> Cart </span>#}
            </a>
          </li>
    {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link waves-effect">
              <i class="fas fa-user"></i>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'account:logout' %}" class="nav-link waves-effect">
              <i class="fas fa-power-off"></i>
            </a>
          </li>
    {% else %}
          <li class="nav-item">
            <a href="{% url 'account:signup' %}"
               class="nav-link waves-effect">
              <i class="fas fa-user-plus"></i>
            </a>
          </li>
          <li class="nav-item">
                <a href="{% url 'account:signin' %}?next={{request.path}}"
                   class="nav-link waves-effect">
                  <i class="fas fa-sign-in-alt"></i>
                </a>
          </li>
    {% endif %}
        </ul>

      </div>

    </div>
  </nav>
  <!-- Navbar -->
{% block content %}
  <!--Carousel Wrapper-->
  <div id="carousel-example-1z" class="carousel slide carousel-fade pt-4" data-ride="carousel">

    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-1z" data-slide-to="1"></li>
      <li data-target="#carousel-example-1z" data-slide-to="2"></li>
    </ol>
    <!--/.Indicators-->

    <!--Slides-->
    <div class="carousel-inner" role="listbox">

      <!--First slide-->
      <div class="carousel-item active">
        <div class="view" style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/8-col/img%282%29.jpg'); background-repeat: no-repeat; background-size: cover;">

          <!-- Mask & flexbox options-->
          <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">

            <!-- Content -->
            <div class="text-center white-text mx-5 wow fadeIn">
              <h1 class="mb-4">
{#                <strong>Learn Bootstrap 4 with MDB</strong>#}
              </h1>

              <p>
{#                <strong>Best & free guide of responsive web design</strong>#}
              </p>

              <p class="mb-4 d-none d-md-block">
{#                <strong>The most comprehensive tutorial for the Bootstrap 4. Loved by over 500 000 users. Video and#}
{#                  written versions#}
{#                  available. Create your own, stunning website.</strong>#}
              </p>

{#              <a target="_blank" href="https://mdbootstrap.com/education/bootstrap/" class="btn btn-outline-white btn-lg">Start#}
{#                free tutorial#}
{#                <i class="fas fa-graduation-cap ml-2"></i>#}
{#              </a>#}
            </div>
            <!-- Content -->

          </div>
          <!-- Mask & flexbox options-->

        </div>
      </div>
      <!--/First slide-->

      <!--Second slide-->
{#      <div class="carousel-item">#}
{#        <div class="view" style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/8-col/img%283%29.jpg'); background-repeat: no-repeat; background-size: cover;">#}
{##}
{#          <!-- Mask & flexbox options-->#}
{#          <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">#}
{##}
{#            <!-- Content -->#}
{#            <div class="text-center white-text mx-5 wow fadeIn">#}
{#              <h1 class="mb-4">#}
{#                <strong>Learn Bootstrap 4 with MDB</strong>#}
{#              </h1>#}
{##}
{#              <p>#}
{#                <strong>Best & free guide of responsive web design</strong>#}
{#              </p>#}
{##}
{#              <p class="mb-4 d-none d-md-block">#}
{#                <strong>The most comprehensive tutorial for the Bootstrap 4. Loved by over 500 000 users. Video and#}
{#                  written versions#}
{#                  available. Create your own, stunning website.</strong>#}
{#              </p>#}
{##}
{#              <a target="_blank" href="https://mdbootstrap.com/education/bootstrap/" class="btn btn-outline-white btn-lg">Start#}
{#                free tutorial#}
{#                <i class="fas fa-graduation-cap ml-2"></i>#}
{#              </a>#}
{#            </div>#}
{#            <!-- Content -->#}
{##}
{#          </div>#}
{#          <!-- Mask & flexbox options-->#}
{##}
{#        </div>#}
{#      </div>#}
      <!--/Second slide-->

      <!--Third slide-->
{#      <div class="carousel-item">#}
{#        <div class="view" style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/8-col/img%285%29.jpg'); background-repeat: no-repeat; background-size: cover;">#}
{##}
{#          <!-- Mask & flexbox options-->#}
{#          <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">#}
{##}
{#            <!-- Content -->#}
{#            <div class="text-center white-text mx-5 wow fadeIn">#}
{#              <h1 class="mb-4">#}
{#                <strong>Learn Bootstrap 4 with MDB</strong>#}
{#              </h1>#}
{##}
{#              <p>#}
{#                <strong>Best & free guide of responsive web design</strong>#}
{#              </p>#}
{##}
{#              <p class="mb-4 d-none d-md-block">#}
{#                <strong>The most comprehensive tutorial for the Bootstrap 4. Loved by over 500 000 users. Video and#}
{#                  written versions#}
{#                  available. Create your own, stunning website.</strong>#}
{#              </p>#}
{##}
{#              <a target="_blank" href="https://mdbootstrap.com/education/bootstrap/" class="btn btn-outline-white btn-lg">Start#}
{#                free tutorial#}
{#                <i class="fas fa-graduation-cap ml-2"></i>#}
{#              </a>#}
{#            </div>#}
{#            <!-- Content -->#}
{##}
{#          </div>#}
{#          <!-- Mask & flexbox options-->#}
{##}
{#        </div>#}
{#      </div>#}
      <!--/Third slide-->

    </div>
    <!--/.Slides-->

    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->

  </div>
  <!--/.Carousel Wrapper-->
{#{% block content %}#}
  <!--Main layout-->
  <main>
    <div class="container">

      <!--Navbar-->
      <nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5">

        <!-- Navbar brand -->
        <span class="navbar-brand">Categories:</span>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
          aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">

          <!-- Links -->
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">All
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Shirts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Sport wears</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Outwears</a>
            </li>

          </ul>
          <!-- Links -->

          <form class="form-inline">
            <div class="md-form my-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            </div>
          </form>
        </div>
        <!-- Collapsible content -->

      </nav>
      <!--/.Navbar-->

      <!--Section: Products v.3-->
      <section class="text-center mb-4">

        <!--Grid row-->
        <div class="row wow fadeIn">
{#<h2 class="text-center clearfix">Featured Products</h2>#}
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4">
        {% for object in object_list %}
            <!--Card-->
            <div class="card" onclick="location.href='{% url 'products:details' slug=object.slug %}'">

              <!--Card image-->
              <div class="view overlay">
                <img src="{{ object.preview.url }}" class="card-img-top" style="width: 100%;height: 150px"
                  alt="">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!--Card image-->

              <!--Card content-->
              <div class="card-body text-center">
                <!--Category & Title-->
                <a href="" class="grey-text">
{#                  <h5>Shirt</h5>#}
                </a>
                <h5>
                  <strong>
                    <a href="" class="dark-grey-text">{{ object.name }}
{#                      <span class="badge badge-pill danger-color">NEW</span>#}
                    </a>
                  </strong>
                </h5>

                <h4 class="font-weight-bold blue-text">
                  <strong>{{ object.price }}$</strong>
                </h4>

              </div>
              <!--Card content-->

            </div>
            <!--Card-->
          </div>
                    {% endfor %}

          <!--Grid column-->
        </div>
        <!--Grid row-->

      </section>
      <!--Section: Products v.3-->

      <!--Pagination-->
      <nav class="d-flex justify-content-center wow fadeIn">
        <ul class="pagination pg-blue">

          <!--Arrow left-->
          <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>

          <li class="page-item active">
            <a class="page-link" href="#">1
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">2</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">3</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">4</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">5</a>
          </li>

          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
      <!--Pagination-->

    </div>
  </main>
  <!--Main layout-->
{% endblock %}
  <!--Footer-->
  <footer class="page-footer text-center font-small mt-4 wow fadeIn">
    <hr class="my-4">
    <!-- Social icons -->
    <div class="pb-4">
      <a href="" target="_blank">
        <i class="fab fa-facebook-f mr-3"></i>
      </a>

      <a href="" target="_blank">
        <i class="fab fa-twitter mr-3"></i>
      </a>

      <a href="" target="_blank">
        <i class="fab fa-youtube mr-3"></i>
      </a>

      <a href="" target="_blank">
        <i class="fab fa-google-plus-g mr-3"></i>
      </a>

      <a href="" target="_blank">
        <i class="fab fa-dribbble mr-3"></i>
      </a>

      <a href="" target="_blank">
        <i class="fab fa-pinterest mr-3"></i>
      </a>

      <a href="" target="_blank">
        <i class="fab fa-github mr-3"></i>
      </a>

      <a href="" target="_blank">
        <i class="fab fa-codepen mr-3"></i>
      </a>
    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3">
      © 2020 Copyright
    </div>
    <!--/.Copyright-->

  </footer>
  <!--/.Footer-->

  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>
  <!-- Initializations -->
  <script type="text/javascript">
    // Animations initialization
    new WOW().init();

  </script>
</body>

</html>
