{% extends 'master.html' %}
{% load static %}

{% block title %}
{{product.name}}
{% endblock %}



{% block content %}

    <div class="row mt-5">
        <div class="col-lg-6 mt-5">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                  {% for img in product.images.all %}
                      {% if img and forloop.counter == 1 %}
                <div class="carousel-item active">
                  <img class="d-block w-100" src="{{ img.image.url }}" alt="First slide" width="540" height="400">
                </div>
                          {% else %}
                          <div class="carousel-item">
                  <img class="d-block w-100" src="{{ img.image.url }}" alt="First slide" width="540" height="400">
                </div>
                      {% endif %}
                  {% endfor %}

              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
        </div>
{############################        slider end     ###########################}
        <div class="col-lg-6 mt-5 p-3">
            <h2 class="text">{{ product.name.capitalize }}</h2>
            <p class="text text-justify">{{ product.des|truncatechars:260 }}</p>
            <p class="text font-weight-bold">$ {{ product.price }}</p>
{#            <a type="submit" href="{% url 'carts:update' product_id=product.id %}">Add Cart</a>#}
            <form method="post" action="{% url 'carts:add' product_id=product.id %}">
                {% csrf_token %}
                <input type="number" class="btn btn-outline-dark" name="qty" min="0" value="1">
                <input type="submit" class="btn btn-success ml-2" value="Add Cart">
            </form>
        </div>
    <div class="clearfix"></div>

    <div class="col-lg-12">
        <h2 class="text-center mt-5">Description</h2>
         <p class="text-justify mt-3">{{ product.des }}</p>
    </div>
    </div>

{% endblock %}
