{% extends 'master.html' %}
{% load static %}
{% block title %}
Product|List
{% endblock %}




{#{% block content %}#}
{#    <h1 class="text bg-transparent text-center mt-5 pt-3">Products</h1>#}
{#<div class="card-columns mt-5">#}
{#     {% for product in product_list %}#}
{#    <div class="card">#}
{#    {% if product.preview %}#}
{#        <img class="card-img card-img-top p-1" src="{{ product.preview.url }}" width="200" height="300">#}
{#    {% endif %}#}
{#        <div class="card-body">#}
{#            <h5 class="card-title mt-3">{{ product.name }}</h5>#}
{#            <p class="card-text">{{ product.des|truncatechars:50 }}</p>#}
{#        </div>#}
{#    <a href="{% url 'products:details' slug=product.slug %}" class="btn btn-block btn-success m-0">View</a>#}
{#    </div>#}
{##}
{#    {% endfor %}#}
{#</div>#}
{#{% endblock %}#}
{% block content %}
 <!--Main layout-->
  <main style="padding-top: 70px">
    <div class="container">

      <!--Navbar-->
      <nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5">

        <!-- Navbar brand -->
        <span class="navbar-brand">Categories:</span>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
          aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">

          <!-- Links -->
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">All
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Shirts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Sport wears</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Outwears</a>
            </li>

          </ul>
          <!-- Links -->

          <form class="form-inline">
            <div class="md-form my-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            </div>
          </form>
        </div>
        <!-- Collapsible content -->

      </nav>
      <!--/.Navbar-->

      <!--Section: Products v.3-->
      <section class="text-center mb-4">

        <!--Grid row-->
        <div class="row wow fadeIn d-flex">
{#<h2 class="text-center clearfix">Featured Products</h2>#}
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4">
        {% for object in object_list %}
            <!--Card-->
            <div class="card" onclick="location.href='{% url 'products:details' slug=object.slug %}'">
              <!--Card image-->
              <div class="view overlay">
                <img src="{{ object.preview.url }}" style="width: 100%;height: 140px" class="card-img-top" alt="">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!--Card image-->

              <!--Card content-->
              <div class="card-body text-center">
                <!--Category & Title-->
                <a href="" class="grey-text">
                  <h5>Shirt</h5>
                </a>
                <h5>
                  <strong>
                    <a href="" class="dark-grey-text">{{ object.name }}
                      <span class="badge badge-pill danger-color">NEW</span>
                    </a>
                  </strong>
                </h5>

                <h4 class="font-weight-bold blue-text">
                  <strong>{{ object.price }}$</strong>
                </h4>

              </div>
              <!--Card content-->

            </div>
            <!--Card-->
          </div>
        {% endfor %}
          <!--Grid column-->
        </div>
        <!--Grid row-->

      </section>
      <!--Section: Products v.3-->

      <!--Pagination-->
      <nav class="d-flex justify-content-center wow fadeIn">
        <ul class="pagination pg-blue">

          <!--Arrow left-->
          <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>

          <li class="page-item active">
            <a class="page-link" href="#">1
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">2</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">3</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">4</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">5</a>
          </li>

          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
      <!--Pagination-->

    </div>
  </main>
  <!--Main layout-->

{% endblock %}
